<header>
    <app-header-top></app-header-top>
    <app-header-bottom></app-header-bottom>
</header>
<section class="content-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="py-3">
                    <h2>Thông tin khách sạn</h2>
                </div>
                <div class="card p-3">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-hotel-big" src="{{image}}" alt="">
                        </div>
                        <div class="col-md-6">
                            <h2>{{hotelName}}</h2>
                            <div><i class="fas fa-map-marker-alt"></i> {{address}}</div>
                            <div>{{description}}</div>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <h4 class="pb-2">Kiểm tra phòng trống</h4>
                    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-5">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Ngày nhận phòng</mat-label>
                                    <input formControlName="checkInDate" [min]="_minCheckInDate" matInput [matDatepicker]="picker1" (dateChange)="changeCheckInDate($event)">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error *ngIf="formValid.checkInDate.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getCheckInDateErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Ngày trả phòng</mat-label>
                                    <input formControlName="checkOutDate" [min]="_minCheckOutDate" matInput [matDatepicker]="picker2">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error *ngIf="formValid.checkOutDate.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getCheckOutDateErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <button style="padding: 18.5px 0px;" class="btn btn-primary btn-block">Kiểm tra</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="_errorCheckRoom" class="alert alert-warning text-center elevation-2" role="alert">
                    {{_errorCheckRoom}}
                </div>
                <div class="card p-3" *ngIf="!_errorCheckRoom">
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr class="text-center">
                                    <th style="width:20%" scope="col">Hình ảnh</th>
                                    <th style="width:20%" scope="col">Phù hợp cho</th>
                                    <th style="width:20%" scope="col">Giá phòng/đêm</th>
                                    <th style="width:25%" scope="col">Mô tả</th>
                                    <th style="width:15%" scope="col">Chọn phòng</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of listRoom">
                                <tr class="text-center">
                                    <td>
                                        <div class="image-list">
                                            <img src="{{item.image}}" alt="Image">
                                        </div>
                                    </td>
                                    <td style="font-size: 25px;">
                                        <div *ngIf="item.numberOfPeople==1"><i class="bi bi-person-fill"></i></div>
                                        <div *ngIf="item.numberOfPeople>2"><i class="bi bi-person-x-fill"></i>{{item.numberOfPeople}}</div>
                                        <div *ngIf="item.numberOfPeople==2"><i class="bi bi-people-fill"></i></div>
                                    </td>
                                    <td>
                                        <p style="color: red;text-decoration: line-through;margin-bottom: 0;">{{(item.discount != 0)?(item.roomCost | currency:'VND'):''}}</p>
                                        <p>{{item.roomCost - item.discount | currency:'VND'}}</p>
                                    </td>
                                    <td>{{item.contents}}</td>
                                    <th scope="row">
                                        <mat-checkbox [color]="color" [(ngModel)]="item.isSelected" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row" style="justify-content: flex-end;">
                                    <div class="col-sm-2">
                                        <a class="btn btn-primary btn-block" (click)="bookingRoom()">Đặt phòng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="{ 'show': _success }" class="alert thongbao">
                    <mat-icon class="icon-thongbao" style="color: green; font-size: 2.25em;">done</mat-icon>
                    <div class="noidung-thongbao">{{_success}}</div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <app-footer></app-footer>
</footer>