<nav class="navbar navbar-expand-lg navbar-light nav-top">
    <a class="navbar-brand logo" [routerLink]="['']">EHOTEL</a>
    <div class="nav ml-auto login-register" *ngIf="!currentUser">
        <a [routerLink]="['','log-in']" class="nav-link btn btn-outline-dark btn-sm  mr-2 rounded-0 border-white text-white">Đăng nhập</a>
        <a [routerLink]="['','register']" class="nav-link btn btn-outline-dark btn-sm  mr-2 rounded-0 border-white text-white">Đăng ký</a>
    </div>
    <div class="nav ml-auto mr-5" *ngIf="currentUser">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle username text-white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{currentUser.fullName}}
            </a>
            <div class="dropdown-menu build-drop-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['','admin-page']" *ngIf="isAdmin">
                    Trang quản trị
                </a>
                <a class="dropdown-item" href="#">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>
                    </span>
                    <span>QL tài khoản</span>
                </a>
                <a class="dropdown-item" href="#">
                    <span aria-hidden="true" role="presentation" class="bui-icon bui-dropdown-menu__icon bui-icon--medium">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                    </span> Đơn đặt phòng</a>
                <a class="dropdown-item" [routerLink]="['','log-in']" (click)="logout()">Đăng xuất</a>
            </div>
        </li>
    </div>
</nav>