<header>
    <app-header-top></app-header-top>
</header>
<main class="main">
    <div class="container">
        <div class="col-md-6 offset-md-3" style="padding: 100px 0px;">
            <div class="card badge-link">
                <h2 class="card-header text-center">Đăng nhập</h2>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Địa chỉa email</label>
                            <input type="text" formControlName="username" class="form-control" />
                            <!-- <div *ngIf="submitted && loginValid.username.errors" class="invalid-feedback">
                                <div *ngIf="loginValid.username.errors.required">Username is required</div>
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input type="password" formControlName="password" class="form-control" />
                            <!-- <div *ngIf="submitted && loginValid.password.errors" class="invalid-feedback">
                                <div *ngIf="loginValid.password.errors.required">Password is required</div>
                            </div> -->
                        </div>
                        <button [disabled]="" class="btn btn-primary btn-block">
                            <span *ngIf="" class="spinner-border spinner-border-sm mr-1"></span> Đăng nhập
                        </button>
                        <div *ngIf="" hidden class="alert alert-danger mt-3 mb-0">{{error=='Unknown Error'?"Can not connect to server":error}}</div>
                    </form>
                    <div class="text-right mt-3">Bạn chưa có tài khoản? <a href="#">Đăng ký</a></div>
                </div>
            </div>
        </div>
    </div>
</main>