<header>
    <app-header-top></app-header-top>
</header>

<div class="my-container">
    <div class="row">
        <div class="col-sm-3 col-12">
            <app-nav-profile></app-nav-profile>
        </div>
        <div class="col-sm-9 col-12">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Thay đổi mật khẩu</h1>
                </div>
                <div class="col-sm-12" *ngIf="!show">
                    <div class="mb-3">
                        Để thay đổi mật khẩu, chúng tôi cần gửi link tạo lại mật khẩu đến địa chỉ email của bạn.
                    </div>
                    <button class="btn btn-primary rounded-0" type="button" (click)="resetPassword()"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Gửi email</button>
                </div>
                <div class="col-sm-12 text-success" *ngIf="show">
                    <span>{{success}}</span>
                </div>
            </div>
        </div>
    </div>
</div>