<header>
    <app-header-top></app-header-top>
    <app-header-bottom></app-header-bottom>
</header>
<section class="content-1">
    <div class="container-fluid my-search">
        <div class="pb-3">
            <h2 class="text-search">Tìm kiếm ưu đãi khách sạn, chỗ nghỉ ...</h2>
        </div>
        <div>
            <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Chọn thành phố</mat-label>
                                <mat-select formControlName="city">
                                    <mat-option *ngFor="let item of listCitySelect"
                                                [value]="item.value">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formValid.city.invalid"><i
                                    class="bi bi-exclamation-circle mr-1"></i>{{getCityErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ngày nhận phòng</mat-label>
                            <input formControlName="checkInDate" [min]="_minCheckInDate" matInput
                                   [matDatepicker]="picker1" readonly (dateChange)="changeCheckInDate($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="formValid.checkInDate.invalid"><i
                                class="bi bi-exclamation-circle mr-1"></i>{{getCheckInDateErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ngày trả phòng</mat-label>
                            <input formControlName="checkOutDate" [min]="_minCheckOutDate" matInput
                                   [matDatepicker]="picker2" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="formValid.checkOutDate.invalid"><i
                                class="bi bi-exclamation-circle mr-1"></i>{{getCheckOutDateErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                        <button style="padding: 18.5px 0px;" class="btn btn-primary btn-block">Kiểm tra</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="content-2">
    <div class="container">
        <div>
            <h2>Tìm kiếm theo thành phố</h2>
        </div>
        <div>
            <div class="row">
                <div style="overflow: hidden;" class="col-sm-12" *ngFor="let city of listCity; index as i"
                     [ngClass]="{ 'col-lg-6': (i <= 1),'col-lg-4': (i > 1) }">
                    <div class="img-city" style="background-image: url('{{city.image}}');"
                         (click)="redirectHotelByCityName(city.cityName)">
                        <h1 class="title-city text-white text-center pt-3">{{city.cityName}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-3">
    <div class="container mb-5">
        <div>
            <h2>Tìm kiếm theo khách sạn</h2>
        </div>
        <div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let item of listHotel">
                    <img style="cursor: pointer;" class="img-carosel" src="{{item.image}}" alt=""
                         (click)="redirectHotel(item.hotelName)">
                    <p>{{item.hotelName}}</p>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<footer>
    <app-footer></app-footer>
</footer>
