<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="content-wrapper" style="background-color: white;">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-1 back">
                    <button class="btn btn-outline-info" (click)="comeBack()" matTooltip="Quay lại" [matTooltipPosition]="'right'"><i class="bi bi-reply-fill"></i></button>
                </div>
                <div class="col-sm-10">
                    <h1 class="text-center text-info mt-3 mb-3 my-title">Cập nhật thông tin khách sạn</h1>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-12">
                                    <h5>Hình ảnh</h5>
                                </div>
                                <div class="col-sm-4 col-12">
                                    <div class="image">
                                        <img class="img-fluid" [src]="_image">
                                    </div>
                                </div>
                                <div _ngcontent-jhb-c221="" class="col-sm-4 col-12" style="display: flex;flex-wrap: wrap;justify-content: center;align-content: center;">
                                    <button type="button" class="btn btn-primary" (click)="showForm()">Thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="formUpdateData" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Tên khách sạn</mat-label>
                                <input formControlName="hotelName" #hotelName matInput maxlength="50" class="input-height" type="text">
                                <mat-icon matSuffix>domain</mat-icon>
                                <mat-hint align="end">{{hotelName.value.length}} /50</mat-hint>
                                <mat-error *ngIf="formValid.hotelName.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getHotelNameErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" #email matInput maxlength="50" class="input-height" type="email">
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-hint align="end">{{email.value.length}} /50</mat-hint>
                                <mat-error *ngIf="formValid.email.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getEmailErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Số điện thoại</mat-label>
                                <input formControlName="phoneNumber" #phoneNumber matInput maxlength="10" class="input-height" type="text">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-hint align="end">{{phoneNumber.value.length}} /10</mat-hint>
                                <mat-error *ngIf="formValid.phoneNumber.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getPhoneNumberErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Địa chỉ</mat-label>
                                <input formControlName="address" #address matInput maxlength="255" class="input-height" type="text">
                                <mat-icon matSuffix>location_on</mat-icon>
                                <mat-hint align="end">{{address.value.length}} /255</mat-hint>
                                <mat-error *ngIf="formValid.address.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getAddressErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Thành phố</mat-label>
                                <mat-select formControlName="city">
                                    <mat-option *ngFor="let type of listCitys" [value]="type.value">{{type.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formValid.city.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getCityErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div *ngIf="_error" class="error-message"><i class="bi bi-exclamation-circle"></i>{{_error}}</div>
                        <button [disabled]="formUpdateData.invalid" class="btn btn-primary btn-block">Lưu lại</button>
                    </form>
                </div>
            </div>
            <div [ngClass]="{ 'show': _success }" class="alert thongbao">
                <mat-icon class="icon-thongbao" style="color: green; font-size: 2.25em;">done</mat-icon>
                <div class="noidung-thongbao">{{_success}}</div>
            </div>
        </div>
    </div>
    <div class="my-upload" [ngClass]="{ 'd-none': !_onUpdate }">
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col-md-8 form-upload">
                <div class="upload-avatar">
                    <div class="close-upload" (click)="closeForm()">
                        <i class="bi bi-x"></i>
                    </div>
                    <form (ngSubmit)="updateImage()">
                        <div class="row container m-0">
                            <div class="col-sm-4 col-12">
                                <div class="image">
                                    <img class="image-upload" [src]="_imgURL">
                                </div>
                            </div>
                            <div class="col-sm-8 col-12">
                                <div class="col-sm-12 p-0">
                                    <h5 class="text-center">Chọn ảnh để tải lên</h5>
                                </div>
                                <div class="col-sm-12">
                                    <input #uploadFile class="input-upload border border-primary p-1" type="file" (change)="onSelectFile($event)">
                                </div>
                                <div class="col-sm-12 col-12 pt-3">
                                    <button class="btn btn-block btn-primary rounded-0 mr-3 pl-3 pr-3">Lưu</button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="_errorUpload" class="error-upload">
                            <mat-icon>error_outline</mat-icon>
                            <span>{{_errorUpload}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-footer-admin></app-footer-admin>
</div>