<header *ngIf="!childMessage">
    <nav class="navbar navbar-expand-lg navbar-light nav-top">
        <a class="navbar-brand logo" [routerLink]="['']">EHOTEL</a>
    </nav>
</header>


<div *ngIf="childMessage" class="error-forgot-password">
    <i class="bi bi-exclamation-circle"></i>
    <span>{{childMessage}}</span>
</div>

<div class="container" *ngIf="!childMessage">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-12">
            <h1 class="text-center my-3">Quên mật khẩu</h1>
        </div>
    </div>
</div>

<div>
    <div class="send-mail">
        <h6>Địa chỉ email của bạn:</h6>
        <p class="font-weight-bold">{{currentUser.email}}</p>
    </div>
    <button class="btn-token">Gửi lại mã xác nhận</button>
</div>