<footer class="custom-footer badge-dark">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4">
                <h2 class="" href="#">Về chúng tôi</h2>
                <hr class="bg-light">
                <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus pariatur possimus recusandae nemo voluptatum ullam vero eum dignissimos ratione! Eius natus possimus doloribus qui asperiores consectetur impedit delectus deserunt.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Thông tin liên hệ</h2>
                <hr class="bg-light">
                <p>Phone: 09xxxxxxxx</p>
                <p>Email: ehotel@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h2>Dịch vụ</h2>
                <hr class="bg-light">
                <p>Đặt phòng online</p>
                <p>Tra cứu thông tin</p>
            </div>
            <div class="col-12 copy">
                <div><span style="font-size: 20px;">EHOTEL</span> Copyright &copy; by Nguyễn Khánh. All right Reserved.</div>
            </div>
        </div>
    </div>
</footer>