<footer class="custom-footer badge-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 pt-4">
                        <h2 class="text-center" href="#">EHotel</h2>
                        <hr class="bg-light">
                        <p class="text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus pariatur possimus recusandae nemo voluptatum ullam vero eum dignissimos ratione! Eius natus possimus doloribus qui asperiores consectetur impedit delectus
                            deserunt.
                        </p>
                    </div>
                    <div class="col-md-4 pt-4">
                        <h2 class="text-center">Dịch vụ</h2>
                        <hr class="bg-light">
                        <p class="px-3">Đặt phòng online</p>
                        <p class="px-3">Tra cứu thông tin</p>
                    </div>
                    <div class="col-md-4 pt-4">
                        <h2 class="text-center">Liên hệ</h2>
                        <hr class="bg-light">
                        <p class="px-3">Phone: 0971656598</p>
                        <p class="px-3">Email: ehotel.bookingroom@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-12  text-center copy">
                <div><span style="font-size: 20px;">EHOTEL</span> Copyright &copy; by Nguyễn Khánh. All right Reserved.</div>
            </div>
        </div>
    </div>
</footer>