<div class="wrapper">
    <app-navbar></app-navbar>

    <div class="content-wrapper">
        <div class="container-fluid pt-2">
            <div class="card">
                <div class="card-header p-0">
                    <div class="row justify-content-center">
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-2"> </div>
                        <div class="col-sm-6">
                            <h1 class="text-center text-info mt-3 mb-3 my-title">Danh sách tài khoản khách hàng</h1>
                        </div>
                        <div class="col-sm-2 col-3 create-delete">
                            <a matTooltip="Thêm" [matTooltipPosition]="'left'" [routerLink]="['/admin','create-account']" class="btn btn-outline-success"><i class="bi bi-person-plus-fill"></i></a>
                            <a matTooltip="Xóa nhiều" [matTooltipPosition]="'right'" [routerLink]="['/admin','delete-account']" class="btn-delete btn btn-outline-danger" (click)="deleteAllData()"><i class="bi bi-person-x-fill"></i></a>
                        </div>
                        <div class="col-sm-1"> </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th style="width:5%" scope="col">
                                    <mat-checkbox [color]="color" [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)"></mat-checkbox>
                                </th>
                                <th style="width:5%" scope="col">Avatar</th>
                                <th style="width:15%" scope="col">Họ và tên</th>
                                <th style="width:15%" scope="col">Email</th>
                                <th style="width:15%" scope="col">Kiểu người dùng</th>
                                <th style="width:15%" scope="col">Trạng thái</th>
                                <th class="text-left" style="width:15%" scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of collection| paginate: { itemsPerPage: 5, currentPage: page}">
                            <tr class="text-center">
                                <th scope="row">
                                    <mat-checkbox [color]="color" [(ngModel)]="item.isSelected" (ngModelChange)="updateAllComplete()"></mat-checkbox>
                                </th>
                                <td>
                                    <div class="user-panel">
                                        <div class="image">
                                            <img src="{{item.avatar}}" class="img-circle" alt="Avatar">
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.userType.userTypeName}}</td>
                                <td>
                                    <div class="status-active" *ngIf="item.status=='ACTIVE'">Hoạt động</div>
                                    <div class="status-inactive" *ngIf="item.status=='INACTIVE'">Chờ kích hoạt</div>
                                    <div class="status-locked" *ngIf="item.status=='LOCKED'">Bị Khóa</div>
                                </td>
                                <td class="text-left">
                                    <a [routerLink]="['/admin','updated-account',item.id]" class="btn-edit btn btn-outline-info" matTooltip="Sửa" [matTooltipPosition]="'left'"><i class="fas fa-pen "></i></a>
                                    <a [routerLink]="['/admin','listUser']" (click)="deleteData(item.id)" class="btn-delete btn btn-outline-danger ml-3" matTooltip="Xóa" [matTooltipPosition]="'right'"><i style="width: 16px;" class="fas fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer pb-0">
                    <pagination-controls class="text-center" (pageChange)="page = $event" maxSize="5"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <app-footer-admin></app-footer-admin>
</div>