<div class="wrapper">
    <app-navbar></app-navbar>

    <div class="content-wrapper">
        <div class="container-fluid pt-2">
            <div class="card">
                <div class="card-header p-0">
                    <h1 class="pl-4 text-info mt-3 mb-3 my-title">Danh sách tài khoản khách hàng</h1>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th style="width:5%" scope="col">Avatar</th>
                                <th style="width:15%" scope="col">Họ và tên</th>
                                <th style="width:15%" scope="col">Email</th>
                                <th style="width:15%" scope="col">Số điện thoại</th>
                                <th style="width:15%" scope="col">Kiểu người dùng</th>
                                <th style="width:15%" scope="col">Trạng thái</th>
                                <th style="width:20%; padding-left: 35px;" class="text-left" scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of collection| paginate: { itemsPerPage: 5, currentPage: page}">
                            <tr class="text-center">
                                <td>
                                    <div class="user-panel">
                                        <div class="image">
                                            <img *ngIf="!item.avatar" src="../../../../assets/customs/images/user.png" class="img-circle" alt="Avatar">
                                            <img *ngIf="item.avatar" src="{{item.avatar}}" class="img-circle" alt="Avatar">
                                        </div>
                                    </div>
                                </td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.phoneNumber}}</td>
                                <td>{{item.userType.userTypeName}}</td>
                                <td>
                                    <div class="status-active" *ngIf="item.status=='ACTIVE'">Hoạt động</div>
                                    <div class="status-inactive" *ngIf="item.status=='INACTIVE'">Chờ kích hoạt</div>
                                    <div class="status-locked" *ngIf="item.status=='LOCKED'">Bị Khóa</div>
                                </td>
                                <td class="text-left">
                                    <a [routerLink]="['/admin-page','updated-customer',item.id]" class="btn-edit btn btn-outline-info" matTooltip="Sửa" [matTooltipPosition]="'left'"><i class="fas fa-pen "></i></a>
                                    <a [routerLink]="['/admin-page','list-account']" (click)="deleteData(item.id)" class="btn-delete btn btn-outline-danger ml-3" matTooltip="Khóa" [matTooltipPosition]="'right'"><i class="bi bi-lock-fill"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer pb-0">
                    <pagination-controls class="text-center" (pageChange)="page = $event" maxSize="5"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <app-footer-admin></app-footer-admin>
</div>