* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI light', Arial, sans-serif;
    font-size: 1em;
}

.nav-top,
.nav-bottom {
    background-color: #202020;
}

.nav-top {
    padding: 15px 10px;
}

.herder-top i {
    font-size: 20px;
}

.herder-top span {
    margin: auto 10px;
}

.username {
    font-size: 1.25rem !important;
}

.custom-nav {
    padding: 8px 16px;
    max-width: 1140px;
    margin: 0 auto;
}

.dropdown-menu {
    border-radius: 0px !important;
}

.dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.my-container {
    background-color: #fff;
    padding: 16px 20px;
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
}

input.search-city:focus,
input.search-date:focus {
    outline: none;
    box-shadow: none !important;
}

a:hover {
    text-decoration: underline;
}

.my-search {
    background-color: #f5f5f5;
    padding: 30px 150px !important;
}

.content-2 {
    padding: 40px 0px;
}

.my-setting {
    padding: 16px 12px;
}

.my-title {
    font-size: 24px;
    line-height: 24px;
}

.img-city {
    background-position: center;
    background-size: cover;
    height: 250px;
    width: auto;
    margin-bottom: 15px;
    transition: 0.2s all;
    overflow: hidden;
}

.img-city:hover {
    transform: scale(0.95);
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.title-city {
    font-family: initial;
    font-weight: bold;
}

.logo {
    margin-left: 15%;
    letter-spacing: 5px;
    font-size: 40px !important;
    font-family: initial;
    color: #ffffff !important;
}

.login-register {
    margin-right: 5%;
}

.build-drop-menu {
    background: #fff;
    left: -40px;
    border-radius: 2px;
    overflow: hidden;
    z-index: 100;
}

.dropdown-menu.show {
    right: 15px;
    left: auto;
}

.build-drop-menu a mat-icon {
    margin-right: 10px;
}

.build-drop-menu a {
    display: flex;
    overflow: hidden;
    padding: .35rem 1.35rem;
}

.thongbao {
    position: fixed;
    right: 50px;
    bottom: 10px;
    width: auto;
    background-color: rgb(170 220 170 / 1);
    border: 1px solid rgb(50 220 50 / 1);
    border-radius: 3px;
    z-index: 9999;
    transition: 5s;
    visibility: hidden;
    opacity: 0;
}

.icon-thongbao {
    color: green;
    font-size: 2.25em;
    float: left;
    position: relative;
    top: -5px;
    left: -25px;
    padding: 0px 18px;
}

.noidung-thongbao {
    float: left;
}

.report-register {
    border-radius: 5px;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 1rem 1.25rem;
    text-align: center;
}

.note-register {
    font-size: 25px;
    padding: 20px 0px 0px 5px;
    font-family: system-ui;
}

.thongbao.show {
    animation: active 3s forwards;
}

.moveLeft {
    animation: moveLeft 1s forwards;
}

.moveTop {
    animation: moveTop 1s forwards;
}

@keyframes active {
    0% {
        transform: translateX(350px);
        opacity: 0;
    }
    30% {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
    75% {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateX(350px);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(-500px);
        opacity: 0;
    }
}

@keyframes moveTop {
    0% {
        opacity: 0;
    }
    100% {
        transform: translateY(-135px);
        opacity: 1;
    }
}

.copy {
    background-color: #202020;
    padding: 20px 0px;
}

.nav-profile {
    max-width: 100%;
    padding: 0;
    border: 1px solid #e6e6e6;
}

.li-profile:after {
    content: " ";
    height: 0px;
    margin: 0 16px;
    display: block;
    border: 1px #e6e6e6;
    border-style: solid solid none;
}

.nav-profile li a {
    display: flex;
    color: #333;
    overflow: hidden;
    padding: 16px;
}

a.nav-link.active-now {
    color: blue !important;
}

a.nav-link.active-now div {
    text-decoration: underline;
}

mat-icon.incon-profile {
    margin-right: 10px;
}

.h1-profile {
    padding: 5px 0px 12px 12px;
}

.my-avatar {
    position: relative;
}

.my-avatar img {
    height: 252px;
    width: 252px;
    padding: 3px;
}

.update-avatar {
    position: absolute;
    bottom: 0px;
    left: 170px;
    font-size: 30px;
    padding: 4px 15px;
    text-align: center;
    border-radius: 50% !important;
    cursor: pointer;
    background-color: #a9a9a9;
    opacity: 0.7;
}

.form-upload {
    margin-top: 100px;
}

.upload-avatar {
    padding: 20px;
    background-color: white;
    min-height: 100%;
    z-index: 9992;
    overflow: hidden;
    border-radius: 5px;
}

.avatar {
    width: 126px;
    height: 100%;
    text-align: center;
}

.image {
    height: 100%;
    text-align: center;
}

.avatar-upload {
    border-radius: 50%;
    width: 126px;
    height: 126px;
}

.img-fluid-y {
    width: auto;
    height: 100%;
}

.image-upload {
    width: 100%;
    height: 126px;
}

.avatar-default {
    background-color: rgba(0, 0, 0, 0.768);
    border-radius: 50%;
    width: 126px;
    height: 100%;
}

.avatar-default i {
    position: absolute;
    top: 10px;
    left: 36px;
    font-size: 70px;
    color: white;
}

.image-default {
    background-image: url('../src/assets/customs/images/default-image.png');
    width: auto;
    background-size: contain;
    height: 100px;
    margin-top: 10px;
}

.image-default i {
    font-size: 100px;
    position: absolute;
    bottom: -20px;
    left: 35px;
    color: white;
}

.image-create {
    margin-top: 10px;
    height: 150px;
    width: auto;
}

input.input-upload {
    width: 100%;
}

.error-message {
    color: #ff0000;
    padding: 5px 0px 10px 5px;
}

.error-profile {
    position: relative;
    color: red;
    margin: 0px 0px 10px 10px;
}

.error-upload {
    position: relative;
    top: 0px;
    left: 135px;
    color: red;
    margin-top: 10px;
}

.error-profile span {
    position: absolute;
    top: 0px;
    left: 30px;
}

.error-upload span {
    position: absolute;
    top: 0px;
    left: 30px;
}

.error-forgot-password {
    display: block;
    color: red;
    text-align: center;
    padding: 15px;
    background-color: #ff00001c;
}

.error-forgot-password span {
    padding-left: 5px;
}

.error-forgot-password i {
    font-size: 20px;
}

.my-upload {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    padding: 16px 20px;
    width: 100%;
    height: 100%;
    z-index: 9990;
    overflow: auto;
    visibility: visible;
}

.close-upload {
    position: absolute;
    top: 0px;
    right: 20px;
    z-index: 9991;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    color: #00000082;
}

.close-upload i:hover {
    color: black;
}

.btn-token {
    display: block;
    padding: 15px 40px;
    margin: 10px auto;
    text-decoration: none;
    font-weight: 100;
    background: linear-gradient( 90deg, #3a9bed 0%, #235ecf 100%);
    color: #ffffff;
    width: 100%;
    line-height: 25px;
    text-align: center;
    border: none;
    font-size: 18px;
}

.send-mail {
    display: block;
    margin: 10px auto;
    text-decoration: none;
    font-weight: 100;
    width: 30%;
    line-height: 25px;
    font-size: 18px;
}

.create-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/* phân trang */

.ngx-pagination a {
    outline: none !important;
    padding: .5rem .75rem !important;
    margin-left: -2px;
    line-height: 1.25;
    color: #007bff !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.ngx-pagination .current {
    outline: none !important;
    padding: .5rem .75rem !important;
    margin-left: -2px;
    line-height: 1.25;
    background: #2199e8;
    color: #fefefe;
    border: 1px solid #dee2e6 !important;
}

.ngx-pagination .disabled {
    padding: .5rem .75rem !important;
    margin-left: -2px;
    line-height: 1.25;
    border: 1px solid #dee2e6!important;
}

ul.ngx-pagination .disabled:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

ul.ngx-pagination .disabled:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

ul.ngx-pagination li.pagination-next a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

ul.ngx-pagination li.pagination-previous a {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

ul.ngx-pagination .pagination-previous a::before,
ul.ngx-pagination .pagination-previous.disabled::before {
    content: '◀' !important;
}

ul.ngx-pagination .pagination-next a::after,
ul.ngx-pagination .pagination-next.disabled::after {
    content: '▶' !important;
}

.status-active,
.status-inactive,
.status-locked {
    color: white;
    padding: 8px 1px;
    border-radius: 25px;
    width: 85%;
    margin: auto;
}

.user-panel img {
    height: 2.5rem;
    width: 2.5rem;
}

.status-active {
    background-color: #008900;
}

.status-inactive {
    background-color: #F16B00;
}

.status-locked {
    background-color: #696969;
}

.image-list img {
    height: 6rem;
    width: 10rem;
}

.img-listHotel {
    height: 7rem;
    width: 100%;
}

.img-details {
    height: 12rem;
    width: 100%;
}

.img-hotel-big {
    height: 300px;
    width: 100%;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout {
    padding: 0 0.5rem 0 0.5rem;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}

.logout-li a {
    color: rgba(255, 255, 255, .75) !important;
}

@media only screen and (min-width: 1025px) {
    .nav-bottom ul.navbar-nav li {
        margin-right: 3rem !important;
    }
    .owl-carousel .owl-item img {
        height: 182px;
    }
}

@media only screen and (max-width: 1024px) {
    .my-search {
        background-color: #303030cc;
        padding: 30px 150px !important;
        position: absolute;
        bottom: 0;
    }
    .error-upload {
        position: relative;
        top: 0px;
        left: 15px;
        color: red;
        margin: 10px 0px;
    }
    .img-details {
        height: 9rem;
        width: 14rem;
    }
    .owl-carousel .owl-item img {
        height: 231.672px;
    }
}

@media only screen and (max-width: 768px) {
    .my-search {
        padding: 30px 40px !important;
    }
    .content-1 {
        height: 350px;
    }
    h2.text-search {
        font-size: 20px;
    }
    .img-fluid {
        width: 47% !important;
    }
}

@media only screen and (max-width: 480px) {
    .my-search {
        padding: 16px 15px !important;
    }
    .logo {
        margin: auto;
        font-size: 20px !important;
    }
    .login-register {
        margin-right: 0%;
    }
    .img-hotel {
        height: 200px;
    }
    .btn-edit {
        padding-bottom: 10px;
    }
    .avatar-default {
        background-color: rgba(0, 0, 0, 0.768);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        margin-bottom: 15px;
    }
    .avatar-default i {
        top: 3px;
        left: 103px;
        font-size: 60px;
    }
    .avatar-upload {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
    }
    .avatar {
        margin: auto;
    }
    .img-details {
        height: 12rem;
        width: 100%;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}