<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="content-wrapper" style="background-color: white;">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="col-sm-1 back">
                    <button class="btn btn-outline-info" (click)="comeBack()" matTooltip="Quay lại" [matTooltipPosition]="'right'"><i class="bi bi-reply-fill"></i></button>
                </div>
                <div class="col-sm-10">
                    <h1 class="text-center text-info mt-3 mb-3 my-title">Cập nhật thông tin đơn đặt trước</h1>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-6">
                    <form [formGroup]="formUpdateData" (ngSubmit)="onSubmit()">
                        <div class="form-group ">
                            <!-- <mat-form-field appearance="outline" class="w-100">
                                <mat-label>
                                    Employee
                                </mat-label>
                                <input formControlName="employee" matInput type="text" [matAutocomplete]="auto" />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of filteredOptions" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field> -->

                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Khách hàng</mat-label>
                                <input formControlName="user" matInput type="text" [matAutocomplete]="auto" />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of filteredOptions" [value]="item">
                                        {{item}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="formValid.user.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getUserErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Khách sạn</mat-label>
                                <mat-select formControlName="hotel">
                                    <mat-option *ngFor="let item of listHotels" [value]="item.value">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formValid.hotel.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getHotelErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Phòng</mat-label>
                                <mat-select formControlName="rooms">
                                    <mat-option *ngFor="let item of listRooms" [value]="item.value">{{item.name}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="formValid.rooms.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getRoomsErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Ngày đặt</mat-label>
                                <input formControlName="checkInDate" matInput [matDatepicker]="picker" [min]="_maxDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false"></mat-datepicker>
                                <mat-error *ngIf="formValid.checkInDate.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getCheckInDateErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group ">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Ngày trả</mat-label>
                                <input formControlName="checkOutDate" matInput [matDatepicker]="picker1" [min]="_maxDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                                <mat-error *ngIf="formValid.checkOutDate.invalid"><i class="bi bi-exclamation-circle mr-1"></i>{{getCheckOutDateErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div *ngIf="_error" class="error-message"><i class="bi bi-exclamation-circle"></i>{{_error}}</div>
                        <button [disabled]="formUpdateData.invalid" class="btn btn-primary btn-block">Lưu lại</button>
                    </form>
                </div>
            </div>
            <div [ngClass]="{ 'show': _success }" class="alert thongbao">
                <mat-icon class="icon-thongbao" style="color: green; font-size: 2.25em;">done</mat-icon>
                <div class="noidung-thongbao">{{_success}}</div>
            </div>
        </div>
    </div>

    <app-footer-admin></app-footer-admin>
</div>